$green--light: #91c88f;
$green: #3d5f38;
$red: #52323f;
$red--light: #be9390;
$blue: #304e4f;
$blue--light: #8fbabc;

ion-item-divider {
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}

ion-item {
  h3 {
    color: var(--ion-color-primary);
    font-weight: bold;
    text-transform: uppercase;
  }
}

ion-content{

}

ion-segment-button {
  padding-left: 5px;
  padding-right: 5px;
  min-width: 150px;
  font-weight: bold;
  height: 30px;
}

ion-segment {
  justify-content: space-between;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }

  ion-segment-button.segment-button {
    flex: 1 0 150px;
    //min-width: 300px;
  }
}

.backdrop {
  background: #fff url('../../../assets/img/bg-colored.jpg') no-repeat center center / cover;
  //background-position: bottom center;
  //background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  position: fixed;
}

ion-list {
  background: transparent;
}

.list-md {
  padding-top: 0;
}

ion-item {
  margin: 10px;
  position: relative;

  .badge {

    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 100%;

    &.eintägig {
      background: $green--light;
      color: $green;
    }

    &.mehrtägig {
      background: $red--light;
      color: $red;
    }

    &.regelmäßig {
      background: $blue--light;
      color: $blue;
    }

    .badge__text {
      font-weight: bold;
      transform: rotate(-90deg);
      transform-origin: 0 0;
      position: absolute;
      bottom: -10px;
      left: 2px;
      background: transparent;
      font-size: .75rem;
    }
  }
}

.item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
  white-space: normal;
}

ion-label {
  padding-right: 30px !important;

  h3 {
    font-size: 1.25rem;
    margin-bottom: 15px;
  }

  p {
    color: black;
  }
}

ion-icon.item-detail-icon {
  display: none;
}

.ionicon.s-ion-icon {
  display: none;
}
