<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Veranstaltungen</ion-title>

    <ion-nav-link routerLink="/home">
      <ion-img class="toolbar__brand" src="../../assets/img/brand.png"></ion-img>
    </ion-nav-link>

  </ion-toolbar>
  <ion-toolbar *ngIf="!ios">
    <ion-segment [(ngModel)]="segment" (ionChange)="updateEvents()">
      <ion-segment-button value="all">
        Alle
      </ion-segment-button>
      <ion-segment-button value="2">
        Klasse 1-4
      </ion-segment-button>
      <ion-segment-button value="3">
        Klasse 5-9
      </ion-segment-button>
      <ion-segment-button value="4">
        Klasse 10-13
      </ion-segment-button>
      <ion-segment-button value="5">
        GIRLS ONLY!
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isLoading" padding class="spinnerCenter">
  <ion-spinner name="crescent"></ion-spinner>
</ion-content>

<ion-content class="loading-spinner__wrapper" *ngIf="!isLoading">
  <div class="backdrop"></div>
  <ion-list #scheduleList>
    <ion-item *ngIf="countEvents() === 0">
      <ion-label>Keine passenden Ergebnisse gefunden.</ion-label>
    </ion-item>
    <ion-item-group *ngFor="let yearData of eventGroups">
      <div *ngFor="let monthData of yearData.months ">
        <ion-item-group *ngIf="hasMonthEvents( monthData )">
          <ion-item-divider sticky>
            <ion-label>
              {{ getMonthName( monthData.month ) }} {{ yearData.year }}
            </ion-label>
          </ion-item-divider>

          <ion-item-sliding *ngFor="let event of monthData.events.reverse() ">
            <ion-item [hidden]="event.hide" routerLink="/app/tabs/events/event/{{event.id}}">
              <div class="badge {{ event.acf.frequency }}">
                <div class="badge__text">{{ event.acf.frequency }}</div>
              </div>
              <ion-label>
                <h3>{{event.title.rendered}}</h3>
                <p>Veranstalter:<br></p>
                <p>Beginn:
                  {{ event.acf.startdate | date: 'dd.MM.yyyy' }}
                <p>
                <p>Ort</p>
              </ion-label>
            </ion-item>
<!--                    <ion-item-options>-->
<!--                      <ion-item-option color="favorite" (click)="addFavorite(slidingItem, session)" *ngIf="segment === 'all'">-->
<!--                        Merken-->
<!--                      </ion-item-option>-->
<!--&lt;!&ndash;                      <ion-item-option color="danger" (click)="removeFavorite(slidingItem, session, 'Remove Favorite')"&ndash;&gt;-->
<!--&lt;!&ndash;                                       *ngIf="segment === 'favorites'">&ndash;&gt;-->
<!--&lt;!&ndash;                        Remove&ndash;&gt;-->
<!--&lt;!&ndash;                      </ion-item-option>&ndash;&gt;-->
<!--                    </ion-item-options>-->
          </ion-item-sliding>

        </ion-item-group>
      </div>
    </ion-item-group>
  </ion-list>
</ion-content>
