<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Einstellungen</ion-title>

    <ion-nav-link routerLink="/home">
      <ion-img class="toolbar__brand" src="../../assets/img/brand.png"></ion-img>
    </ion-nav-link>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="isLoaded">
    <ion-list-header>Zu folgenden Events Benachrichtungen erhalten:</ion-list-header>
    <ion-item>
      <ion-label>Klasse 1-4</ion-label>
      <ion-checkbox color="primary" checked slot="start" (ionChange)="changeJuniorSettings()" [(ngModel)]="junior"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Klasse 5-9</ion-label>
      <ion-checkbox color="primary" checked slot="start" (ionChange)="changeMidSettings()" [(ngModel)]="mid"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Klasse 10-13</ion-label>
      <ion-checkbox color="primary" checked slot="start" (ionChange)="changeSeniorSettings()" [(ngModel)]="senior"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>GIRLS ONLY</ion-label>
      <ion-checkbox color="primary" checked slot="start" (ionChange)="changeGirlSettings()" [(ngModel)]="girls"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
