<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref" text="zurück"></ion-back-button>
    </ion-buttons>
<!--    <ion-buttons slot="end">-->
<!--      <ion-button (click)="toggleFavorite()">-->
<!--        <ion-icon *ngIf="!isFavorite" slot="icon-only" name="star-outline"></ion-icon>-->
<!--        <ion-icon *ngIf="isFavorite" slot="icon-only" name="star"></ion-icon>-->
<!--      </ion-button>-->
<!--      <ion-button (click)="shareEvent()">-->
<!--        <ion-icon slot="icon-only" name="share"></ion-icon>-->
<!--      </ion-button>-->
<!--    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="event" class="ion-padding">
    <h1>{{event.title.rendered}}</h1>
    <div [innerHTML]="event.content.rendered"></div>
    <ion-text color="medium">
      <span *ngIf="event.acf.organizer">
        Veranstalter: {{event.acf.organizer}}
        <br>
      </span>
      <span *ngIf="event.acf.startdate">
        Beginn: {{ event.acf.startdate | date: 'dd.MM.yyyy' }} {{ event.acf.starttime }}
        <br>
      </span>
      <span *ngIf="event.acf.endtime">
        Ende: {{ event.acf.enddate | date: 'dd.MM.yyyy' }} {{ event.acf.endtime }}
        <br>
      </span>
      <span *ngIf="event.acf.city">
        Ort: {{ event.acf.city }}
      </span>
    </ion-text>
  </div>

  <ion-list *ngIf="event">
<!--    <ion-item (click)="eventClick('watch')" button>-->
<!--      <ion-label color="primary">Watch</ion-label>-->
<!--    </ion-item>-->
<!--    <ion-item (click)="eventClick('add to calendar')" button>-->
<!--      <ion-label color="primary">Zum Kalender hinzufügen</ion-label>-->
<!--    </ion-item>-->
<!--    <ion-item (click)="eventClick('mark as unwatched')" button>-->
<!--      <ion-label color="primary">Mark as Unwatched</ion-label>-->
<!--    </ion-item>-->
    <ion-item (click)="openNemoWebsiteLink()" button>
      <ion-label color="primary">mehr Infos</ion-label>
    </ion-item>
    <ion-item *ngIf="event.acf.link" (click)="openExternalLink( event.acf.link )" button>
      <ion-label color="primary">Projektseite besuchen</ion-label>
    </ion-item>
    <ion-item *ngIf="event.acf.email_subscription" (click)="registerForEvent(event.acf.email_subscription)" button>
      <ion-label color="primary">{{getRegisterText()}}</ion-label>
    </ion-item>

  </ion-list>
</ion-content>
