<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="presentPopover($event)">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="about-header">
    <div class="about-image girl-and-boy"></div>
  </div>

  <div class="about-info">
    <h2 class="ion-padding-top ion-padding-start">
      Netzwerk MINT-Region Böblingen
    </h2>

    <h3 class="ion-padding-top ion-padding-start">Forschen mit Experten</h3>

    <p class="ion-padding-start ion-padding-end">
      Kinder und Jugendliche wachsen in einer hochtechnisierten und digitalisierten Welt auf. Vieles fasziniert sie, doch wie kann es gelingen sie bei ihrem Erforschen von Naturphänomenen und technischen Zusammenhängen zu begleiten und ihre Begeisterung zu wecken? Bei der Vielfältigkeit und Komplexität der naturwissenschaftlich technischen Disziplinen ist hier eine Bildungspartnerschaft von Pädagogen, Experten, Zivilgesellschaft und Wirtschaft gefragt. Der Prozess der fortlaufenden Innovationen braucht junge Frauen und Männer, die wissen, wo ihre Fähigkeiten und Leidenschaften liegen und die auf neue Herausforderungen kreative Lösungen finden.
    </p>

    <h3 class="ion-padding-top ion-padding-start"> Kompetenzen fürs Leben </h3>

    <p class="ion-padding-start ion-padding-end">
      Es sollen nicht nur die erreicht werden, die einen MINT Beruf anstreben. Technikkompetenz ist auch eine Frage der sozialen Teilhabe. Praxisnähe und Anschaulichkeit sind gefragt. Außerschulische Lernorte sind wichtig, um spielerisch individuelle Zugänge für alle jungen Menschen zu erschließen. Damit Kinder und Jugendliche leicht zu altersgerechten Angeboten finden, hat die Projektstelle Lokale Bildungsnetze Böblingen zusammen mit regionalen Partnern diese Website erstellt.
    </p>
    <p class="ion-padding-end"></p>
  </div>
</ion-content>
