ion-tab-button {
  --color: var( --ion-color-secondary  );
  --color-selected: wbite;
}

.loading-spinner__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-title {
  font-weight: bold;
  color: #353f4b;
}

.toolbar__brand {
  width: 70px;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 10px;
  margin-top: -5px;
}
