.backdrop {
  background: #fff url('../../../assets/img/bg-colored.jpg') no-repeat center center / cover;
  //background-position: bottom center;
  //background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  position: fixed;
}

ion-img.round-corner {
  border-radius: 10px !important;
  overflow: hidden;
  img {
    border-radius: 10px !important;
    overflow: hidden;
  }
}

h1,h2,h3,h4 {
  font-weight: bold;
  text-transform: uppercase;
  --color: var( --ion-color-primary );
  color: var( --ion-color-primary );
  text-align: center;
}

.sponser__headline {
  margin-top: 50px;
}
