<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Nemo BB</ion-title>

    <ion-nav-link routerLink="/home">
      <ion-img class="toolbar__brand" src="../../assets/img/brand.png"></ion-img>
    </ion-nav-link>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="backdrop"></div>
  <ion-grid>
    <ion-row>
      <ion-col><h1>Veranstaltungen</h1></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4>Klasse 1-4</h4>
        <ion-img class="round-corner" routerLink="/app/tabs/junior" src="../../assets/img/home/1-4.jpg"></ion-img>
      </ion-col>
      <ion-col>
        <h4>Klasse 5-9</h4>
        <ion-img class="round-corner" routerLink="/app/tabs/mid" src="../../assets/img/home/5-9.jpg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4>Klasse 10-13</h4>
        <ion-img class="round-corner" routerLink="/app/tabs/senior" src="../../assets/img/home/10-13.jpg"></ion-img>
      </ion-col>
      <ion-col>
        <h4>Girls only</h4>
        <ion-img class="round-corner" routerLink="/app/tabs/girls" src="../../assets/img/home/grils.jpg"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h2 class="sponser__headline">Hauptsponsor</h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-slides #slides [options]="slideOptions" pager="false">
        <ion-slide>
          <img class="round-corner" (click)="openSponsorWebsite('volksbank')" src="https://nemo-bb.de/wp-content/uploads/2022/12/LogoMZliBZV_BB-CW-300x64.png"/>
        </ion-slide>

        <ion-slide>
          <img class="round-corner" (click)="openSponsorWebsite('sparkasse')" src="https://nemo-bb.de/wp-content/uploads/2018/07/sparkasse-300x102.png"/>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>
</ion-content>
